h1 {
    position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    border: aqua;
}
.day {
    font-size: large;
}
#NIGHT {
    text-align: right;
}
#media {
    font-style: italic;
    border-color: aqua;
}
li {
    background-color: #012490;
}
button:hover {
    color: crimson;
}
title {
    border-radius: 10;
    position: center;
}