h1 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    border: aqua;
}
#day {
    font-size: large;
}
#NIGHT {
    text-align: right;
}
#media {
    font-style: italic;
    border-color: aqua;
}
li {
    background-color: #012490;
}
button:hover {
    color: crimson;
}
.title {
    width: fit-content;
    height: fit-content;
    font: 100;
}
.about:hover {
    color: coral;
}
.current {
    font-family: 'Times New Roman', Times, serif;
}